.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chain-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.chain {
  justify-content: flex-start;
  /* width: 80%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.block {
  padding: 5px;
  margin: 5px;
  border: black;
  border-width: 1px;
  border-style: dotted;
  width: 110px;
  height: 110px;
  font-size: 10px;
  word-wrap: break-word;
  box-shadow: 5px 5px 5px rgb(154, 154, 154);
}

.inputform {
  margin: 10px;
}
.textfield {
  margin: 10px;
}
.miningbutton {
  border: none;
  background-color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1px 24px;
}
